/*Media querie */
@media (min-width: 2200px) {

    /* BeerList */
    .beer-container {
        max-width: 70%;
    }

    .individual-beer {
        margin: 35px 10px 20px;
        min-height: 350px;
        padding: 10px;
    }

    /* FindYourBeer */
    .results-list {
        max-width: 45%;
    }

    .selected-beer {
        max-width: 40%;
    }
}

@media (max-width: 1300px) {
    .beer-container {
        max-width: 95%;
    }

    .individual-beer {
        margin: 20px 0px;
        min-height: 330px;
    }
}

@media (max-width: 990px) {
    .individual-beer {
        max-width: 80%;
        margin: 20px auto;
    }
}

@media (max-width: 768px) {

    /* Header */
    header {
        padding: 20px;
    }

    .beer-logo {
        max-width: 200px;
    }

    /* Navbar */
    a.navbar-brand,
    .beer-price,
    .footer p {
        font-size: 0.8rem;
    }

    /* Home */
    .image-gallery {
        max-width: 90%;
    }

    .home-container .home-title {
        font-size: 1rem;
    }

    /* BeerList */
    .row-of-beers {
        text-align: center;
    }

    .individual-beer {
        max-width: 85%;
        padding: 5px;
    }

    .individual-beer h3 {
        font-size: 0.9rem;
    }

    .pagination {
        margin: 30px;
    }

    .pagination li {
        margin: 5px;
    }

    /* Find your beer */

    .results-list {
        width: 80%;
    }

    .search-container h3 {
        padding: 5px;

        font-size: 1.2rem;
    }

    /* Footer */
    .footer .brands li {
        margin: 0px 20px;
    }
}

@media (max-width: 550px) {
    .individual-beer {
        max-width: 75%;
    }

    .selected-beer {
        max-width: 80%;
    }
}